/* Général */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,900&display=swap");

* {
  /* "*" Permet de prendre tout du fichier html, on met ensuite les valeurs à 0 pour que tout colle (qu'il n'y est pas d'espace blanc sur les cotés) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather;
    }

/* Création de variables de couleurs pour toujours garder les mêmes sans se tromper */
:root {
    --main-white: #fff;
    --main-black: #000;
    --main-grey: #ebebeb;
    --main-gold: #c99049;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

/* Animations */
/* Animation blocs */
[class*="reveal-"]{
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1.4s cubic-bezier(.5, 0, 0, 1);
}

.reveal-2{ /* Pour mettre un délai dans l'apparition des blocs au scroll */
    transition-delay: .1s;
}

.reveal-3{
    transition-delay: .2s;
}

.reveal-4{
    transition-delay: .3s;
}

.reveal-5{
    transition-delay: .4s;
}

.reveal-6{
    transition-delay: .5s;
}

.reveal-7{
    transition-delay: .1s;
}
/* Animation carrousel */
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 

    /* Animation Menu */
.slideInRight {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
    }

    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 

    .slideOutRight{
        animation-name: slideOutRight;
        animation-duration: 1s;
        animation-fill-mode: both;
        }

        @keyframes slideOutRight {
        0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        100% {
        visibility: hidden;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        } 
/* Fin Animation Menu */

/* Fin Animations */

/* Fin Général */

/* Header */
header {
    background-image: url("../img/header.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

nav a:hover {
    background-color: var(--main-white);
    color: var(--main-black);
    transition: 1s;
}

.navLinksLeft {
    width: 50%;
}

.navLinksLeft a {
    padding: 4% 5%;
}

.navLinksRight a, .navLinksRight a {
    padding: 4% 5%;
}

.imageNav {
    width: 13%;
    position: absolute;
    top: 0;
    left: 33%;
}

.navLinksRight {
    width: 50%;
}

.mobile{
    display: none; /* menu burger mis en display none = n'apparait pas dans le dom, à faire réapparaitre au changement de l'écran */
    cursor: pointer;
}

.sideMenu{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 35%;
    height: -webkit-fill-available;
    top: 0;
    border-radius: 7px 0 0 7px;
    padding: 0 3% 2% 3%;
    background-color: var(--main-black);
    z-index: 1;
}

.sideMenu a{
    color: var(--main-white);
    padding: 4% 0;
}

.sideMenu a:hover{
    background-color: none !important;
}

.sideMenuHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6%;
}

.closeButton{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.signatureH{
    width: 35%
}

.lineSideMenu{
    width: 95%;
    height: 1px;
    margin: 22px auto 26px auto;
    background-color: var(--main-gold);
}

.sideMenuLinks{
    display: flex;
    flex-direction: column;
    padding: 0 8% 35% 8%;
    font-weight: 300;
}

.sideMenuLinks a:hover{
    text-decoration: underline;
}

.line {
    background-color: #80808065;
    width: 90%;
    margin: auto;
    height: 1px;
}
/* Fin nav */

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 6%;
}

.headerLeft {
    display: flex;
    flex-direction: column;
    padding: 11% 0 24% 0;
    width: 50%;
}

.headerLeft h1, .headerLeft h2 {
    color: var(--main-white);
}

.line2 {
    background-color: var(--main-gold);
    width: 60%;
    height: 1px;
    margin-top: 2%;
}

.headerRight {
    margin: 24% 1% 0 1%;
    width: 50%;
}

.headerRight img {
    width: 100%;
    padding: 22% 0% 0 30%;
}
/* Fin Header */

/* Main */

.title {  /* pour tous les titres des blocs */
    padding: 5% 0 2% 0;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
}

main .section {
    display: flex;
    flex-direction: column;
    margin: 0 6%;
}

.lineMain {
    background-color: var(--main-gold);
    width: 8%;
    margin: 0 auto 2% auto;
    height: 3px;
}

/* Section 1 */
.aboutBlocks {
    display: flex;
    width: 100%;
    margin: 2% auto;
}

.aboutLeft {
    width: 50%;
    padding: 0 2% 0 0;
}

.aboutLeft p {
    padding-bottom: 2%;
    line-height: 1.8rem;
}

.aboutRight {
    width: 50%;
}

.aboutRight img {
    width: 100%;
}
/* FIN Section 1 */

/* Section 2 */
#portfolio {
    margin: 3% auto;
    padding: 0 10%;
    background-color: var(--main-grey);
}

/* carrousel */
.carrousel {
    position: relative;
    margin: auto auto 5% auto;
}

.carrousel img {
    width: 100%;
    border-radius: 10px;
}

.slides{
    width: fit-content;
}

.text{
    background-color: #c990499e;
    color: var(--main-white);
    font-weight: bold;
    padding: 2% 0;
    position: absolute;
    bottom: 9%;
    font-size: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 35%;
    text-align: center;
}

#back, #forward {
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 50%;
    padding: 17px;
    color:  #c9904994;
    font-weight: bold;
    font-size: 50px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    opacity: 1;
}

#back:hover, #forward:hover{
    color: var(--main-gold);
}

#forward {
    right: 0;
}

/* Section 3 */

.chronoLine{
    position: relative;
    margin: 15% auto;
    padding-bottom: 12%;
}

.timeline {
    width: 800px;
    height: 20px;
    list-style: none;
    text-align: justify;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 45%,
        rgba(191, 128, 11, 1) 51%,
        rgba(255, 255, 255, 0) 57%,
        rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(255, 255, 255, 0)),
        color-stop(45%, rgba(255, 255, 255, 0)),
        color-stop(51%, rgba(191, 128, 11, 1)),
        color-stop(57%, rgba(255, 255, 255, 0)),
        color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 45%,
        rgba(191, 128, 11, 1) 51%,
        rgba(255, 255, 255, 0) 57%,
        rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 45%,
        rgba(191, 128, 11, 1) 51%,
        rgba(255, 255, 255, 0) 57%,
        rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 45%,
        rgba(191, 128, 11, 1) 51%,
        rgba(255, 255, 255, 0) 57%,
        rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 45%,
        rgba(191, 128, 11, 1) 51%,
        rgba(255, 255, 255, 0) 57%,
        rgba(255, 255, 255, 0) 100%);
}

.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.timeline li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: var(--main-gold);
    text-align: center;
    line-height: 1.2;
    position: relative;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.timeline li:before {
    display: inline-block;
    content: attr(data-year);
    font-size: 26px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
    top: -40px;
    color: var(--main-gold);
}
.timeline li:nth-child(even):before {
    bottom: -40px;
    color: var(--main-gold);
}

.timeline li:after {
    display: inline-block;
    content: attr(data-text);
    font-size: 16px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
    bottom: 0;
    margin-bottom: -10px;
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
    top: 0;
    margin-top: -10px;
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}

/* Section 4 */

#experiences{
    margin: 3% auto;
    padding: 0 10%;
    background-color: var(--main-grey);
}

/* The actual timeline (the vertical ruler) */
.timeline2 {
    position: relative;
    max-width: 1200px;
    margin: 5% auto;

}

  /* The actual timeline (the vertical ruler) */
.timeline2::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

  /* Container around content */
.container {
    padding: 10px 140px 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

  /* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid var(--main-gold);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

  /* Place the container to the left */
.left {
    left: 0;
}

  /* Place the container to the right */
.right {
    left: 50%;
}

  /* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

  /* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

  /* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

  /* The actual content */
.content {
    padding: 30px 142px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.content h2{
    color: var(--main-gold);
}

/* Section 5 */
.inlineIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 5%;
    padding-bottom: 3%;
}

.icons{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.icons i{
    font-size: 40px;
    padding-bottom: 10%;
    color: var(--main-gold);
}

.icons p{
    font-weight: bold;
}

/* Footer */

footer{
    background-color: var(--main-black);
    color: var(--main-white);
}

.footer{
    display: flex;
    justify-content: center;
}

.footerLeft, .footerRight{
    display: flex;
    flex-direction: column;
    padding: 2% 3% ;
    width: 50%;
    text-align: center;
    line-height: 3rem;
}

#phone{
    font-size: 1.2rem;
    color: var(--main-gold);
}

.iconsFooter{
    display: inline-block;
}

.iconsFooter i{
    padding: 0 2%;
    font-size: 1.6rem;
}

.iconsFooter i:hover{
    color: var(--main-gold);
    transition: 1s;
}

form{
    display: flex;
    flex-direction: column;
}

form input, form textarea{
    padding: 2%;
    margin: 0 3% 3% 3%;
    border-radius: 4px;
}

form button{
    margin: 0 25% 3% 25%;
    padding: 2% 0;
    border-radius: 10px;
    background-color: var(--main-gold);
    border: none;
    color: var(--main-white);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

form button:hover{
    background-color: #c98f4986;
}


/* Responsive */

@media screen and (max-width: 1297px){
    nav{
        display: block;
    }
    .mobile {
        display: block;
        width: 30px;
        float: right;
    }

    .line{
        margin: 2% auto;
    }

    .navLinksLeft, .navLinksRight{
        display: none;
    }
}

@media screen and (max-width: 965px) {
    .inlineIcons {
        flex-direction: column;
        text-align: center;
        padding-bottom: 3%;
    }

    .icons {
        padding-bottom: 8%;
    }
    
}

@media screen and (max-width: 900px) {
    .headerLeft h1, .headerLeft h2 {
        color: var(--main-white);
        font-size: 18px;
    }

    .sideMenu{
        width: 50%;
    }

    /* Place la timeline sur la gauche */
    .timeline2::after {
        left: 31px;
    }

    /* On met le container avec la largeur à 100% */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Fait en sorte que toutes les flêches pointent de la gauche */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Met les cercles au même niveau */
    .left::after, .right::after {
        left: 15px;
    }

    /* Fait en sorte que tous les containers droits se comportent comme les containers gauches */
        .right {
        left: 0%;
    }

    .content{
        padding: 12% 22%;
    }

    .line {
        margin: 4% auto 0 auto;
    }
    
    main .section {
        margin: 6%;
    }

    .timeline {
        width: 600px;
    }
}


@media screen and (max-width: 700px) {
    .timeline {
        width: 500px;
    }
}


@media screen and (max-width: 600px){
    .aboutBlocks {
        display: flex;
        flex-direction: column;
    }

    #back, #forward{
        top: 42%;
    }

    .aboutLeft, .aboutRight{
        width: 100%;
    }

    .text{
        font-size: 18px;
    }

    .timeline {
        width: 400px;
    }

    .timeline li:nth-child(odd):before, .timeline li:nth-child(even):before {
        font-size: 20px;
    }
    
    .timeline li:nth-child(odd):after, .timeline li:nth-child(even):after {
        font-size: 12px;
    }

    .footer{
        flex-direction: column;
    }

    .footerLeft, .footerRight{
        width: 100%;
    }
}


@media screen and (max-width: 414px) {
.imageNav {
    width: 28%;
    position: absolute;
    top: 0;
    left: 33%;
}

.sideMenu{
    width: 100%;
}

.header {
    padding: 68% 0;
}

.headerLeft {
    padding: 0 0 24% 0;
}   

.headerRight {
    margin: 0;
}

.headerRight img {
    width: 45%;
    padding: 0;
    position: absolute;
    bottom: 2%;
}

.lineMain {
    background-color: var(--main-gold);
    width: 50%;
}

#back, #forward{
    top: 30%;
    padding: 10px;
    font-size: 35px;
}

#back{
    right: 88%;
}

#forward{
    left: 88%;
}

.headerLeft h1, .headerLeft h2 {
    font-size: 12px;
}

.line {
    margin: 8% auto 0 auto;
}

main .section {
    margin: 0 10%;
    padding: 11% 0;
}

.chronoLine{
    width: 100%;
    padding: 15% 0;
}

.timeline {
    width: 100%;
}

.timeline li:nth-child(odd):before, .timeline li:nth-child(even):before {
    font-size: 18px;
}

.timeline li:nth-child(odd):after, .timeline li:nth-child(even):after {
    font-size: 10px;
}

}